/* start general style */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}
body,
html {
  text-align: right;
  font: 12px/22px "sansP";
  @media (min-width: 1199px) {
    font: 16px/26px "sansP";
  }
  @media (min-width: 992px) {
    height: 100%;
  }
}
a,
a:hover {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
button:focus {
  outline: none;
}
:root {
  --blackColor: #031c02; //true
  --blueColor: #00b8a9; //true
  --purpleColor: #557ae0;
  --purpleBack: rgba(85, 122, 224, 0.10196078431372549);
  --blueBack: rgba(85, 122, 224, 0.10196078431372549);
  --whiteColor: #cbd0cb; // true
  --grayborder: #ebeaea; //true
  --grayColor: #a0a3a0; //true
  --redColor: #fe4b4b; //true
  --redBack: rgba(254, 75, 75, 0.10196078431372549);
  --goldColor: #e0bd55; //true

  // --blueGradiant: linear-gradient(to right, #2a354790, #42c3df90);
}
@font-face {
  font-family: "sansB";
  src: url("../fonts/TheSans-Bold.ttf");
}
@font-face {
  font-family: "sansP";
  src: url("../fonts/TheSans-Plain.ttf");
}
%trans {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.border-gray {
  border: 1px solid var(--grayborder);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

// ======================
// start header section
.header-section {
  background-image: url("../imgs/header-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  .site-name {
    color: #ffffff;
    font-family: "sansB";
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .social-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
      display: flex;
      align-items: center;
      li {
        display: inline-block;
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
          width: 50px;
          height: 50px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.06274509803921569);
          border-radius: 5px;
        }
        a {
          color: var(--grayColor);
          @extend %trans;
          svg {
            color: white;
            @extend %trans;
            &:hover {
              color: var(--goldColor);
              @extend %trans;
            }
          }
          &:hover {
            color: white;
            @extend %trans;
          }
        }
        &:last-of-type {
          a {
            p {
              &:first-of-type {
                font-size: 13px;
                font-family: "sansP";
              }
              &:last-of-type {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
// end header section

// start navbar section
.navbar-section {
  .navbar {
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: var(--grayColor);
          font-family: "sansB";
          padding-left: 20px;
          padding-right: 20px;
          @extend %trans;
        }
        &.active,
        &:hover {
          .nav-link {
            color: var(--blackColor);
            @extend %trans;
          }
        }
      }
    }
    form {
      .form-control {
        border: none;
        &::placeholder {
          color: var(--blackColor);
        }
      }
    }
  }
}
// end navbar section

// start League section
.league-section {
  background-color: #f7f7f7;
  padding: 18px 0;
  margin-bottom: 40px;
  .league-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .owl-carousel {
      .owl-stage {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
      }
      .item {
        .league-details {
          display: flex;
          flex-direction: row;
          align-items: center;
          @media (max-width: 1199px) {
            justify-content: center;
          }
          img {
            padding-left: 8px;
            width: auto;
          }
          a {
            h3 {
              font: 14px/23px "sansP";
              color: var(--blackColor);
            }
          }
        }
      }
    }
  }
}
// end League section

// start matches-tabs section
.matches-content {
  .container {
    @media (max-width: 776px) {
      max-width: 100%;
    }
  }
  .matches-tabs {
    border-radius: 7px;
    padding: 30px 15px;
    .nav-pills {
      margin-bottom: 30px;
      .nav-item {
        .nav-link {
          color: var(--blackColor);
          font: Bold 18px/31px "sansB";
          @extend %trans;
        }
      }
    }
    .tab-content {
      .match-details {
        @extend %trans;
        &:hover {
          .details-hover {
            opacity: 0.7;
            @extend %trans;
          }
        }
        .details-hover {
          position: absolute;
          background: var(--blackColor);
          opacity: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: 1;
          top: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition-duration: 0.5s;
          color: white;
          font-size: 20px;
          border: none;
          p {
            font: 18px/23px "sansB";
            color: white;
          }
          .angel-border {
            border: 1px solid;
            border-radius: 50%;
            justify-content: center;
            display: flex;
            align-items: center;
            left: 40px;
            position: absolute;
            width: 50px;
            height: 50px;
          }
        }
      }

      .tab-content-row {
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        .match-status {
          .status-name {
            font: 12px/23px "sansP";
            color: var(--blueColor);
            background: var(--blueBack) 0% 0% no-repeat padding-box;
            padding: 5px 10px;
            border-radius: 3px;
            &.comming-soon {
              color: var(--purpleColor);
              background-color: var(--purpleBack);
            }
            &.finished {
              color: white;
              background-color: var(--grayColor);
            }
            &.type {
              background-color: var(--redBack);
              color: var(--redColor);
            }
            &.goals {
              color: white;
              background-color: var(--redColor);
            }
          }
        }
        .team-details {
          display: flex;
          align-items: center;
          h5 {
            font: 15px/25px "sansB";
            color: var(--blackColor);
          }
        }
        .match-result {
          font: 15px/23px "sansB";
          color: var(--blackColor);
          b {
            &:first-of-type,
            &:last-of-type {
              padding: 5px 10px;
            }
            &:nth-of-type(2) {
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
        p {
          &:first-of-type {
            font: 13px/23px "sansP";
            color: var(--grayColor);
          }
          &:last-of-type {
            font: 14px/23px "sansB";
            color: var(--blackColor);
          }
        }
        .timing {
          p {
            margin-bottom: 0;
            &:first-of-type {
              font: 15px/23px "sansB";
              color: var(--goldColor);
            }
            &:last-of-type {
              font: 12px/23px "sansP";
            }
          }
        }
      }
    }
  }
  .top-soccer {
    .carousel {
      .carousel-inner {
        .carousel-indicators {
          position: absolute;
          bottom: unset;
          left: 0;
          z-index: 15;
          display: flex;
          -ms-flex-pack: center;
          -webkit-box-pack: center;
          justify-content: flex-end;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding-left: 0;
          margin-top: 8%;
          margin-left: unset;
          margin-right: unset;
          list-style: none;
          padding-left: 30px;
          li {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--blackColor);
            // opacity: 0.3;
          }
        }
        .carousel-item {
          .league-details {
            border-bottom: 1px solid var(--grayborder);
            .league-details-inner {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 20px 30px;
              @media (max-width: 1199px) {
                justify-content: center;
              }
              img {
                padding-left: 15px;
                width: auto;
              }
              h3 {
                font: 14px/23px "sansP";
                color: var(--blackColor);
              }
            }
          }
          .item-content {
            padding: 0px 30px;
            .player-info {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 18px;
              position: relative;
              b {
                &:first-of-type {
                  margin-left: 15px;
                  color: var(--grayColor);
                  font: 14px/20px "sansB";
                }
                &:last-of-type {
                  width: 35px;
                  height: 35px;
                  display: flex;
                  position: absolute;
                  font: 14px/20px "sansB";
                  left: 0;
                  background: rgba(0, 184, 169, 0.050980392156862744);
                  border: 1px solid rgba(0, 184, 169, 0.30196078431372547);
                  color: #00b8a9;
                  border-radius: 50%;
                  justify-content: center;
                  align-items: center;
                }
              }
              img {
                margin-left: 15px;
              }
              .player-name {
                h5 {
                  font: 14px/23px "sansB";
                  color: var(--blackColor);
                  margin-bottom: 0;
                }
                h6 {
                  font: 11px/23px "sansP";
                  color: var(--grayColor);
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--goldColor);
  color: white !important;
  @extend %trans;
}
//  end matches-tabs section
