.details-section {
  margin-bottom: 30px;
}

.details-section .details-block {
  padding: 40px;
  background: white;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .details-section .details-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .details-section .details-block .match-info {
    margin-bottom: 20px;
  }
}

.details-section .details-block .match-info h3 {
  font: 20px/23px "sansB";
  color: var(--goldColor);
}

@media (max-width: 767px) {
  .details-section .details-block .match-info h3 {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

.details-section .details-block .match-info p {
  font: 16px/23px "sansB";
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .details-section .details-block .match-info p {
    font-size: 14px;
  }
}

.details-section .details-block .match-info p b {
  color: var(--purpleColor);
}

.details-section .details-block .joining-teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-section .details-block .joining-teams b {
  margin-left: 35px;
  margin-right: 35px;
  font: 20px/23px "sansB";
}

.meeting-section .meeting-info {
  padding: 40px;
  background: white;
}

.meeting-section .meeting-info .info-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meeting-section .meeting-info .info-blocks .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.meeting-section .meeting-info .info-blocks .info-block .info-img {
  width: 40px;
  height: 55px;
  background-color: #ffffff;
  border: 1px solid #ebeaea;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.meeting-section .meeting-info .info-blocks .info-block .info-text p {
  margin-bottom: 0;
  font: 13px/23px "sansP";
  color: var(--grayColor);
}

.meeting-section .meeting-info .info-blocks .info-block .info-text b {
  font: 15px/23px "sansB";
  color: var(--blackColor);
}

.meeting-section .meeting-info h3 {
  font: 20px/23px "sansB";
  margin-bottom: 35px;
}
/*# sourceMappingURL=matches-single-live.css.map */